@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow-y: hidden;
}

/* .hidden{
  transition: .4s;
  overflow: hidden;
  opacity: 0;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}


.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}
.play-name {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  /* opacity: .8; */
  cursor: pointer;
  transition: .3s;
}

.progress-time{
  width: 200px;

}
.span-time{
  display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.progress-volume{
  width: 160px;

}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote,
.settings-icon,
.todo-icon,
.todo-add,
.todo-action,
.volume{
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.change-language{
  
  position: absolute;
  margin-left: 90%;
  display: flex;

}
.player{
  display: flex;
    justify-content: center;
}
.player-timepanel div{
  padding: 5px 0;
}

.lan-icon{
  color: white;
  background: none;
  outline: 0;
  opacity: .4;
  cursor: pointer;
  transition: .3s;
  padding: 3px 5px;
  border: 1px solid white;
  border-radius: 25%;
}

.lan-icon.active{
  opacity: 1;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.lan-icon:hover,
.settings-icon:hover,
.todo-icon:hover,
.todo-add:hover,
.todo-action:hover,
.volume:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active, 
.lan-icon:active, 
.settings-icon:active,
.todo-icon:active,
.todo-add:active,
.todo-action:active,
.volume:active{
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}
.volume{
  background: url('https://img.icons8.com/windows/32/FFFFFF/high-volume--v1.png') center no-repeat;
}

.mute{
  background: url('https://img.icons8.com/windows/32/FFFFFF/mute--v1.png') center no-repeat;
}

.todo-add{
  background: url('https://img.icons8.com/ios-glyphs/30/FFFFFF/add--v1.png') center no-repeat;
}

.settings-icon{
  background-image: url("../assets/svg/settings.svg");
  position: absolute;
  margin-left: -90%;
}

.todo-icon{
  background-image: url("https://img.icons8.com/material-outlined/24/FFFFFF/todo-list--v1.png");
  position: absolute;
  margin-left: 90%;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}


.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greetings {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote-text {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.TODO {
  transform: translateX(700%);
  position: fixed;
  bottom: 100px;
  left: 0;
  width: 350px;
  height: 350px;
  z-index: 1;
  display: flex;
  justify-content: end;
  transition: all 0.5s;
}

.TODO.active{
  transform: translateX(70vw);
}

.todo-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  background: rgba(80, 80, 80, 0.6);
  box-shadow: 0px 4px 3px rgb(13 96 111 / 25%);
  border-radius: 1rem;
  width: 300px;
  height: 350px;
  /* overflow: auto; */
}

.todo-title{
  padding: 5px;
  border-bottom: 1px solid #fff;
}
.todo-list{
  padding: 0 15px;
  overflow: overlay;
}


.todo-list::-webkit-scrollbar {
  width: 10px;
}

.todo-list::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #fff,rgba(170, 168, 168, 0.6));
}

.todo-input{
  display: flex;
}

.todo-text{
  margin: 0 15px;
  color: white;
  background: none;
  outline: 0;
  opacity: 1;
  cursor: pointer;
  transition: .3s;
  padding: 3px 5px;
  border: 1px solid white;
  border-radius: 5%;
}

.todo-items li.checked{
  background: rgba(19, 19, 20, 0.2);
  color: #fff;
  text-decoration: line-through;
  opacity: .4;
}

.todo-items li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  /* top: 10px; */
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.todo-item{
  list-style-type: none; 
  display: flex;
}

.todo-item:hover{
background-color: rgba(170, 168, 168, 0.6);
}

.todo-task{
  width: 150px;
  text-align: start;
  padding: 10px;
}

.todo-task input{
  width: 150px;
}

.todo-action{
  width: 40px;
}

.todo-action_complete{
  background: url('../assets/svg/complete.svg') center no-repeat;
}

.todo-action_delete{
  background: url('../assets/svg/delete.svg') center no-repeat;
}

.settings-menu {
  transform: translateX(-100%);
  position: fixed;
  bottom: 100px;
  left: 0;
  width: 350px;
  height: 350px;
  z-index: 1;
  display: flex;
  justify-content: end;
  transition: all 0.5s;
}

.settings-menu.active{
  transform: translateX(0);
}

.setting{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: initial;
  position: relative;
  background: rgba(80, 80, 80, 0.6);
  box-shadow: 0px 4px 3px rgb(13 96 111 / 25%);
  border-radius: 1rem;
  width: 300px;
  height: 400px;
  overflow: auto;
}

.set{
  padding: 10px;
    display: flex;
    justify-content: space-between;
}

.title{
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  background-color: cornflowerblue;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25%;
  border: 1px solid white;
}

.slider.round:before {
  border-radius: 50%;
}

.set-select{
  width: 130px;
  border-radius: 25%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.set-options{
  width: 130px;
  border-radius: 25%;
  background: rgba(80, 80, 80, 0.6);
  color: white;
  border: 1px solid white;
}

.hidden{
  transition: .4s;
  overflow: hidden;
  opacity: 0;
}
@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting{
    min-height: 40px;
    font-size: 32px;
  }

  .greetings {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .player-panel{
    height: 50px;
    width: 350px;
    background: #444;
    box-shadow: 0 0 20px 0 #000a;
  
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
  
    display: grid;
    grid-template-rows: 6px auto;
  }

  .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
  }

  .progress {
    background: coral;
    width: 0%;
    height: 100%;
    transition: 0.25s;
  }

  
}